@import "./base.css";

/* Add a variable with the green color */
:root {
  --green: hsla(160, 100%, 37%, 1);
  --dark-green: hsla(160, 100%, 37%, 0.2);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--green);
  transition: 0.4s;
  padding: 3px;
}

.red {
  color: hsla(0, 100%, 37%, 1);
}

.button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button:enabled {
  background-color: var(--green);
  color: white;
}

.button:disabled {
  color: white;
}

.button:hover {
  background-color: var(--dark-green);
  color: white;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--dark-green);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
  }
}
